@model Exam.ViewModels.FullTicketViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ticketing System</h1>
<h2>@Model.Title</h2>
<h3>Category: @Model.Category</h3>

<div class="row-fluid">
    <div class="span4">
        @if (!string.IsNullOrWhiteSpace(Model.Author))
        {
            <div>
                <strong>Author:</strong> @Model.Author
            </div>
        }

        <div>
            <strong>Priority:</strong> @Model.Priority
        </div>
    </div>

    @if (!string.IsNullOrWhiteSpace(Model.ScreenshotUrl))
    {
        <div class="span4">
            <img src="@Model.ScreenshotUrl" alt="@Model.Title" class="screenshot" />
        </div>
    }

    @if (!string.IsNullOrWhiteSpace(Model.Description))
    {
        <div class="span4">
            <strong>Description:</strong> @Model.Description
        </div>
    }
</div>

<div id="comments-container">
    @foreach (var comment in Model.Comments)
    {
        <div class="comment-container">
            <strong>@comment.Author:</strong> @comment.Content
        </div>
    }
</div>

@if (this.User.Identity.IsAuthenticated)
{
    <section id="new-comment-section">
        <strong>Add comment</strong>
        @using (Ajax.BeginForm(
            "Comment",
            "Tickets",
            new { area = "", id = Model.Id },
            new AjaxOptions()
            {
                OnComplete = "onCommentComplete",
                HttpMethod = "Post",
                UpdateTargetId = "comments-container",
                InsertionMode = InsertionMode.InsertAfter
            }))
        {
            <div>
                @Html.AntiForgeryToken()
                @Html.TextArea("comment")
                @Html.ValidationMessage("comment", new { @class = "text-error" })
            </div>
            <input type="submit" onclick="onSubmitComment()" class="btn" value="Submit comment" />
        }
    </section>
}

<script>
    $(function () {
        $("#comment").attr("placeholder", "Comment...");
    });

    function onCommentComplete(data) {
        $("#comment").val("");
    }

    function onSubmitComment() {
        var errorsContainer = $("#errors-container");
        if (errorsContainer) {
            errorsContainer.remove();
        }
    }
</script>

@section scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}