@model Exam.ViewModels.TicketViewModel

<div class="span4">
    <h2>@Model.Title</h2>
    <div>
        <strong>Category:</strong> @Model.Category
    </div>
    <div>
        <strong>Author:</strong> @Model.Author
    </div>
    <div>
        <span>@Model.CommentsCount comment(s)</span>
    </div>
    <div>
        @Html.ActionLink("More details...", "Details", "Tickets", new { id = Model.Id }, new { @class = "btn" })
    </div>
</div>
