@using TicketingSystem.Common

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticketing System</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo/css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ticketing System", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div id="main-navigation-menu-container">
                @(Html.Kendo().Menu()
                    .Name("navigation-menu")
                    .Direction(MenuDirection.Bottom)
                    .Items(items =>
                    {
                        items.Add().Text("Home").Action("Index", "Home", new { area = string.Empty });
                        if (this.User.Identity.IsAuthenticated)
                        {
                            items.Add().Text("Add ticket").Action("Create", "Tickets", new { area = string.Empty });
                            items.Add().Text("View all tickets").Action("List", "Tickets", new { area = string.Empty });

                            if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                            {
                                items.Add().Text("Administration").Items(nestedItems =>
                                {
                                    nestedItems.Add().Text("Categories administration").Action("Index", "Categories", new { area = "Administration" });
                                    nestedItems.Add().Text("Comments administration").Action("Index", "Comments", new { area = "Administration" });
                                });
                            }
                        }
                    }))
            </div>

            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2013 - My Ticketing System</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
